@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap");
@import "tailwindcss";

@font-face {
  font-family: "ProximaNova, sans-serif";
  src: url("/fonts/ProximaNova-Regular.otf");
}

@theme {
 ;
  --color-main-bg: #232224;
  --color-white: #ffffff;
  --color-dark-brown: #523122;
  --color-mid-brown: #a26833;
  --color-light-brown: #e3a458;
  --color-red-brown: #7f3b2d;
  --color-yellow-brown: #a26833;
  --color-milk-yellow: #e3d3bc;
  --color-red: #a02128;
  --color-milk: #faeade;
  --font-sans: "Antonio", sans-serif;

}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #faeade;
  color: #523122;
  font-family: "Antonio", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

@layer components {

  .login-btn{
    @apply relative overflow-hidden border border-black rounded-full cursor-pointer transition-colors duration-300;
  }

  .login-btn::after{
    content: "";
    @apply absolute left-0 w-full h-full bg-black rounded-full;
    bottom: -100%;
    transition: bottom 0.4s ease;
    z-index: -1;
  }

  .login-btn:hover::after{
    bottom: 0;
  }

  .login-btn:hover{
    @apply text-white;
  }

  

}

.nav-items{
  background-color: rgba(128, 128, 128, 0.16);
}



/* about section */



.hero-coke{
  background: linear-gradient(rgba(252, 9, 9, 0.913) , rgb(236, 2, 2) , rgb(171, 5, 5));
}


.part1{
background :linear-gradient(rgb(241, 154, 12) , rgb(255, 102, 0) ,rgb(232, 90, 2))
}
.section-part1{
  background:linear-gradient(
    rgb(236, 164, 21) , rgb(232, 120, 7) ,rgb(212, 46, 4)
  );
}


.part2{
  background:linear-gradient(rgb(255, 0, 0) ,rgb(209, 14, 14) ,rgb(215, 2, 2));
}
 .section-part2{
    background:linear-gradient(red ,rgb(245, 35, 35));
  }



  .part3{
    background:linear-gradient(rgb(23, 150, 248) , rgb(6, 6, 174), rgb(8, 6, 115));
  }

  .section-part3{
    background:linear-gradient(rgb(47, 47, 195) , rgb(10, 10, 192));
  }

  /* footer section  */

 



